:root {
    --mainColor : #252734;
    --secondaryColor : #333646;
    --acsentColor : #00D1FF;
}

body {
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

section h1 {
    color: #fff;
    font-size: 2.5rem;
}

/* Style Navbar */
.nav-link.active {
    color: var(--acsentColor) !important;
    font-weight: 700;
}

.nav-dark {
    background-color: var(--secondaryColor) !important;
    z-index: 10;
    transition: .8s;
}
/* End Navbar */

/* Section Hero */
.color-acsent {
    color: var(--acsentColor);
}

#hero {
    color: #fff;
    min-height: 100vh;
    padding-top: 75px;
}

#hero h1 {
    font-size: 3rem;
}

#hero h2 {
    font-weight: 300;
}

#hero p {
    font-size: 1.1rem;
    font-weight: 300;
}

/* CTA (Call To Action) */
.btn-custom1 {
    background-color: var(--acsentColor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.1rem;
}

.btn-custom1:hover {
    box-shadow: 0 0 5px rgba(0, 209, 255, 0.8);
}

.cv {
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

.social-icon svg{
    margin-right: .4em;
    margin-bottom: 10px;
}

.social-icon-footer {
    margin-right: .7em;
    margin-bottom: 20px;
    color: #fff;
}
/* End CTA (Call To Action) */

/* End Section Hero */

/* About Section */
hr {
    width: 35%;
    height: 5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}

#about {
    min-height: 300px;
    width: 100%;
    background-color: var(--secondaryColor);
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
/* End About Section */

/* Skills */

#skill {
    min-height: 600px;
    width: 100%;
    color: #fff;
}

#skill img {
    width: 30%;
    margin: 10px;
}

#skill .card {
    background-color: #414558;
    height: 400px;
}

#skill .card:hover {
    background-color: var(--acsentColor);
}

.skill-konten{
    margin-top: 120px;
}
/* End Skills */

/* Sertificate */
#sertifikat {
    margin-top: -170px;
    padding-top: 270px;
    padding-bottom: 80px;
    background-color: var(--secondaryColor)
}

#sertifikat p, a {
    color: #fff !important;
    text-decoration: none;
}

#sertifikat img {
    width: 49%;
    padding: 10px;
}
/* End Sertificate */

/* Galery Portofolio */

#portofolio .container {
    padding: 50px 10px 0px;
}

/* End Portofolio */